#container {
	border: 5px green solid;  
	background-color : white;
}
#header {
	border: 5px red solid;
	text-align: right;
}

#header h2 {
	border: 5px orange solid;
	
}


.date {
	border: 5px purple solid;
}

.first {
	border: 5px blue solid;
	background-color : #E8FBFB ; 
	padding: 5px;
	margin-top: 10px;
	
}
body {
	color : PaleVioletRed;
	background-image: url("https://static.vecteezy.com/system/resources/previews/000/665/413/non_2x/vector-damask-seamless-pastel-blue-pattern-background.jpg");
	margin-left: 10%;
	margin-right: 10%;
}

.first img {
	
	float: right;
}
.spacer {
	clear: right;
}


